/* =========================
   GLOBAL SETTINGS
========================= */
* {
    font-family: "0xProto Nerd Font", "Symbols Nerd Font";
    font-size: 13px;
    font-weight: bold;
    border: none;
    box-shadow: none;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
}

/* =========================
   COMMON MODULE STYLE
========================= */
#workspaces,
#submap,
#custom-media,
#idle_inhibitor,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#language,
#battery,
#clock,
#tray,
#window,
#custom-power {
    margin: 4px 3px;
    padding: 2px 15px;
    background-color: #282A2E;
    border-radius: 8px;
    min-height: 24px;
}

/* =========================
   IDLE INHIBITOR (SPECIAL)
========================= */
#idle_inhibitor {
    color: #9da0a2;
    /* Dim grey when off */
}

#idle_inhibitor.activated {
    color: #a6e3a1;
    /* Bright green when keeping PC awake */
    background-color: #313244;
}

/* =========================
   WINDOW (CENTER)
========================= */
#window {
    background-color: #373737;
    padding: 2px 20px;
    min-width: 100px;
    /* Helps stabilize the center */
}

/* =========================
   WORKSPACES
========================= */
#workspaces {
    background-color: transparent;
    padding: 0;
}

#workspaces button {
    padding: 0 8px;
    margin: 0 2px;
    background-color: #282A2E;
    color: #ffffff;
    border-radius: 6px;
}

#workspaces button.active {
    background-color: #03D8F3;
    color: #000000;
}

#workspaces button:hover {
    background-color: #55EAD4;
    color: #000000;
}

/* =========================
   COLORS & STATES
========================= */
#network {
    color: #b4befe;
}

#custom-power {
    color: #FFA500;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #ffffff;
}

#temperature.critical {
    background-color: #eba0ac;
}

#tray {
    padding: 0 10px;
}
